<div class="exo3">
    <div class="soloitem">

        <h2>Les séries</h2>
        @for(serie of series | ordertable :order ; track series; let i= $index){
            <li>{{i}}: {{serie}}. <button (click)="deleteMovie(i)">Remove</button></li>
           
        }@empty {
            <p>la liste est vide</p>
        }
        <div class="doublebottombutton">
            <button (click)="setOrder('asc')">Alpha</button>
            <button (click)="setOrder('dsc')">UnAlpha</button>
        </div>
    </div>
</div>


