<div class="exo3">
    <div class="soloitem">

        <h2>Les séries</h2>
        @for(serie of series | ordertable :order ; track series; let i= $index){
            <li>{{i}}: {{serie}}. </li>
           
        }@empty {
            <p>la liste est vide</p>
        }
        <div class="doublebottombutton">
            <button (click)="setOrder('asc')">Ordre Alphabétique</button>
            <button (click)="setOrder('dsc')">Ordre Alphabétique inversé</button>
        </div>
    </div>
</div>


