.exo5 {
  height: 100vh;
  background: var(--main-bg-color);
  color: var(--main-solid-color);
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex {
  background: var(--main-bg-color);
  color: var(--main-solid-color);
  width: 100%;
}

.soloitem {
  height: fit-content;
  padding: 10px;
}
.exo5 > form,
input {
  width: 100%;
}

.pc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
