 @import url("../../../styles.css");

.exo1{
    height: 100vh;
    background: var(--main-bg-color);
    color:var(--main-solid-color);
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soloitem p{
    font-size: 90px;
}

.red {
    color: red;
}

.green {
    color: green;
}